.container {
    margin-top:50px;
}
.btn {
    margin-right:2px;
}

.hangmanCol {
    /*background:yellow;*/
}
.panelCol {
    
    /*background:blue;*/
}


.hangmanContainer {
    width:150px;
    height:200px;
    margin-bottom:80px;    
    display:table;
    padding:30px;    
    border: 1px solid black;
}
.hangmanHead {
    border: 1px solid black;
    border-radius: 45px;
    width:30px;
    height:30px;
    margin: 0 auto;        
} 
.hangmanHeadDown {
    border:1px solid black;
    width:1px;
    height:5px;    
    margin: 0 auto;
}
.hangmanBodyContainer{
    background:none;
    width:80px;    
}
.hangmanBody {
    border: 1px solid black;
    border-radius: 20px;
    width:40px;
    height:50px;        
    margin-left:24px;          
}
.hangmanLeftArm {
    border: 1px solid black;
    width:30px;
    height:1px;   
    float:left;
    margin-top: -35px;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Safari */
    transform: rotate(-30deg);
}
.hangmanRightArm {
    border: 1px solid black;
    width:30px;
    height:1px;   
    float:right;
    margin-top: -35px;        
    margin-right: -8px;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(30deg);
}
.hangmanLeftLeg {
    border: 1px solid black;
    width:1px;
    height:46px;
    margin: 0 auto;
    float:left;
    margin-left:33px;
    margin-top:-3px;
}
.hangmanRightLeg {
    border: 1px solid black;
    width:1px;
    height:46px;
    margin: 0 auto;
    float:right;
    margin-right:33px;
    margin-top:-3px;
}

.wordContainer {
    height:30px;
    margin-bottom:50px;    
}

.wordLetter
{
    font-size:14pt;
    font-weight: normal;    
    width:20px;
    height:30px;
    display:block;
    float:left;
    border:1px dashed black;        
    margin-right:5px;    
    text-align:center;
}